<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h6>The Process</h6>
        <strong>Phase 1:</strong> <a href="/branding" role="menuitem">Overview</a> // <a href="/strategic-planning" role="menuitem">Strategic Planning</a> // <a href="/competitive-analysis" role="menuitem">Competitive Analysis</a><br />
        <strong>Phase 2:</strong> <a href="/ethos-development" role="menuitem">Ethos Development</a> // <a href="/namestorming" role="menuitem">NameStorming</a> // <a href="/ip-screening" role="menuitem">IP Screening</a><br />
        <strong>Phase 3:</strong> <a href="/logo-ideation" role="menuitem">Logo Ideation</a> // <a href="/identity-soak" role="menuitem">The Identity Soak</a> // <a href="/brand-standards" role="menuitem">Brand Standards</a><br />
        </ul>
      </div>
    </div>
  </div>
  <div class="subfooter">
    <p>BrandMob is a subsidiary of <a href="https://www.ninelabs.com">Nine Labs</a> // All content &copy; Novelaboratori, LLC</p>
  </div>
</footer>
