<div class="sidebar">
  <h6>The Process</h6>
  <ul>
    <li><a href="/strategic-planning" role="menuitem">Strategic Planning</a></li>
    <li><a href="/competitive-analysis" role="menuitem">Competitive Analysis</a></li>
    <li><a href="/ethos-development" role="menuitem">Ethos Development</a></li>
    <li><a href="/namestorming" role="menuitem">NameStorming</a></li>
    <li><a href="/ip-screening" role="menuitem">Intellectual Property</a></li>
    <li><a href="/logo-ideation" role="menuitem">Logo Ideation</a></li>
    <li><a href="/identity-soak" role="menuitem">The Identity Soak</a></li>
    <li><a href="/brand-standards" role="menuitem">Brand Standards</a></li>
  </ul>
</div>
